<nav class="nav-bar">
    <ul class="nav-bar-ul">
        <li><a href="../home.hbs">Home</a></li>
        <li><a href="../about.hbs">About</a></li>
        <li><a href="../works.hbs">Works</a></li>
        <li><a href="../photo-gallery.hbs">Photo Gallery</a></li>
    </ul>
</nav>