<h1 class="about-title">Donald Glover</h1>
<h3 class="about-sub-title">The Different Shades</h3>

<div class="parts-of-about">
    <div class="part-container">
        <h3 class="part-title">The Actor/Comedian</h3>
        <p>Glover left 30 Rock after three seasons and decided to experience work as a TV actor, playing the role of
            ex-high school jock Troy Barnes in NBC's “Community.” After more than four seasons with Community, Glover
            decided to get the best of both worlds by developing and starring in Atlanta for FX. </p>

        <p>In 2018 Glover enjoyed a prominent role in Solo: A Star Wars Story. The film traces the early life of
            intergalactic pilot and warrior Han Solo, the character first made famous by Harrison Ford. In the new Solo
            movie, Glover plays the young Lando Calrissian, who was played originally by Billy Dee Williams in The
            Empire Strikes Back in 1980.

            In 2019 Glover co-starred in the Amazon short film Guava Island, alongside Rihanna. That summer he headlined
            a CGI-animated remake of The Lion King as the voice of Simba. His castmates included Beyoncé as Simba's love
            interest, Nala, and Seth Rogen as the dim but endearing warthog, Pumbaa.

        </p>

        <p>Glover also performs stand-up comedy from early on.</p>
    </div>
    <div class="part-container">
        <h3 class="part-title">The Singer/Rapper/Songwriter/DJ</h3>
        <p>Glover is a successful rapper who released his first three albums – Camp (2011), Because the Internet (2013)
            and Awaken My Love! (2016) – under the name Childish Gambino.
            The name was produced at random by the Wu-Tang Clan’s Name Generator. </p>

        <p>After earning two Grammy nominations for the 2015 awards show, Childish Gambino was nominated for another
            five in 2018. This time, he was named the winner of Best Traditional R&B Performance, for "Redbone," and
            delivered a soulful performance of another Awaken My Love! track, "Terrified."</p>

        <p>In May 2018 he released "This Is America," a hip-hop and gospel track, which Rolling Stone described as "a
            united front brought together by the constant threat of racially motivated violence." The music video shows
            Glover dancing frivolously with school children and then turning on a dime to commit random acts of
            violence. Receiving lots of media buzz, the track was Glover's darkest societal critique yet among his
            songs, expressing his view that America has become too distracted to realize the serious problems facing it.

            "This is America" went on to make history in February 2019 as the first hip-hip track to win Song of the
            Year and Record of the Year at the Grammys.</p>

        <p>Glover also DJs under the alias McDJ.</p>
    </div>
    <div class="part-container">
        <h3 class="part-title">The Writer/Director/Producer</h3>
        <p>In 2006, Glover was hired to be a writer on sitcom "30Rock". Called “the most prolific
            creator of his generation,” Donald Glover is the brain child behind
            the FX TV comedy Atlanta. He not only stars in the show but also serves as its creator, producer, director
            and co-writer.</p>
    </div>
</div>