* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Avenir;
}

/* NAVBAR  */

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-bar {
  background-color: rgb(25, 33, 41);
  padding-top: 14px;
  padding-bottom: 14px;
}

.nav-bar a {
  color: white;
  text-decoration: none;
  font-size: 2em;
}

.nav-bar-ul {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}

.nav-bar-ul li {
  list-style-type: none;
  text-align: center;
}

/* HEADER  */

#photo-background {
  background: url(../imgs/CG1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  display: flex;
  justify-content: flex-end;
}

.title-container {
  padding: 15%;
}

.home-title {
  color: whitesmoke;
}

h1.home-title {
  font-size: 3em;
}

h3.home-title {
  font-size: 1.5em;
}

/* ABOUT  */

.about {
  background-color: darkgray;
}

.part-container {
  margin: 2%;
  box-shadow: 1.2px 0.6px 1.5px darkblue;
  border-radius: 0.3rem;
  padding: 1%;
  background-color: black;
  color: antiquewhite;
}

p {
  margin: 5px;
}

.about-sub-title {
  font-size: 2em;
  padding-top: 2%;
  text-align: center;
}

h3.part-title {
  text-align: center;
}

/* WORKS  */

table,
th,
td {
  border: 1px solid black;
  text-align: center;
}

.works-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: dimgray;
}
#filmography,
#discography {
  text-align: center;
  padding: 2%;
  color: antiquewhite;
}

/* PHOTO GALLERY  */

.list.grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: 10%;
  grid-gap: 5px;
  background-color: #0d355a;
}

.list.grid .item {
  box-shadow: 1.2px 0.6px 1.5px darkgoldenrod;
  border-radius: 0.3rem;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: darkslategray;
}

.gallery-pic {
  height: 85%;
  width: auto;
}
