* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Avenir;
}

/* NAVBAR  */

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-bar {
  background-color: rgb(25, 33, 41);
  padding-top: 14px;
  padding-bottom: 14px;
}

.nav-bar a {
  color: white;
  text-decoration: none;
  font-size: 2em;
}

.nav-bar-ul {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}

.nav-bar-ul li {
  list-style-type: none;
  text-align: center;
}

/* HEADER  */

#photo-background {
  background: url(./imgs/CG1.jpg);
  /* background-position: center; */
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  height: 600px;
}

.title-container {
  margin: 15px 15px 0 150px;
}
