* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Avenir;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-bar {
  background-color: rgb(25, 33, 41);
  padding-top: 14px;
  padding-bottom: 14px;
}

.nav-bar a {
  color: white;
  text-decoration: none;
  font-size: 2em;
}

.nav-bar-ul {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}

.nav-bar-ul li {
  list-style-type: none;
  text-align: center;
}
